   <nav class="navbar navbar-static-top">
      <div class="container-fluid">
         <div class="navbar-header">
             <button  aria-expanded="false" class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                <span _ngcontent-xbj-c1="" class="sr-only">Toggle navigation</span>
                <span _ngcontent-xbj-c1="" class="icon-bar"></span>
                <span _ngcontent-xbj-c1="" class="icon-bar"></span>
                <span _ngcontent-xbj-c1="" class="icon-bar"></span>
             </button>
             <a class="navbar-brand" routerLink='/home'>Home</a></div>
              <div _ngcontent-xbj-c1="" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul _ngcontent-xbj-c1="" class="nav navbar-nav">
                    <li><a routerLink='/about'>About</a></li>
                    <li><a routerLink='/contact'>Contact</a></li>
                    <li><a routerLink='/viewEnglishTerms'>Terms</a></li>
                    <li><a routerLink='/viewNonEnglishTerms'>Terms In Other Langauges</a></li>
                    <li><a routerLink='/addTerm'>Add A Term</a></li>
                 </ul>
              </div>
         </div>
    </nav>



